*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
   margin: auto;
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.info{
   
    background: #f6f6f6;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 6px;
    width: fit-content;
    transition: .3s;
 
}
.repo-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    background: rgb(103, 103, 156);
    color: white;
}
.repo-container h1{
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.repo-container p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info:hover{
    background: #ffffff77;
    color: #333;
   
}
.info h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info p{
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
form{
    display: flex;
    padding: 25px;
    background-color: #f6f6f6;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    gap: 25px;
    margin-bottom: 50px;
}
form input[type="text"]{
  
    padding: 5px;
    
    outline: none;
    display: block;
 
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 caret-color: #333;
} 
form input[type="submit"]{
border-radius: 6px;
padding: 5px 10px;
outline: none;
border: none;
background: #666;
color: #fff;
transition: .3s ;
}

form input[type="submit"]:hover{
    background: #555;
}
.repo-holder{
    display: block;
    margin: 220px auto;
    padding: 68px;
    width: fit-content;
    height: fit-content;


}
.repo-container{
    text-align: center;
}
.repo-container h1 {
    border-bottom: 1px solid #eee;
}
@media (max-width:776px) {
    .repo-holder{
            
        padding-left: 10px;
        padding-right: 10px;
    }
    }
